{% case species.ranking %}
  {% when 'Red' %}
    {% assign text = 'et&nbsp;dårlig&nbsp;valg' %}
    {% assign color = 'røde' %}
  {% when 'Orange' %}
    {% assign text = 'vær&nbsp;kritisk' %}
    {% assign color = 'oransje' %}
  {% when 'Green' %}
    {% assign text = 'et&nbsp;godt&nbsp;valg' %}
    {% assign color = 'grønne' %}
  {% else %}
    {% assign text = 'foreløpig&nbsp;usikker' %}
    {% assign color = '' %}
{% endcase %}

{% if include.summary %}
<span class="napp-ranking-summary text-muted">{{ text }}</span>
{% elsif species.ranking != 'Gray' %}
<span class="napp-ranking">{{ species.title }} er på <a href="/klassifisering">vår {{ color }} liste; {{ text }}.</a></span>
{% else %}
<span class="napp-ranking">{{ species.title }} er ikke satt opp på <a href="/klassifisering">rød-, grønn- eller gul-liste enda.</a></span>
{% endif %}
