{% case species.ranking %}
  {% when 'Red' %}
    {% assign text = 'et dårlig valg' %}
    {% assign color = 'røde' %}
  {% when 'Orange' %}
    {% assign text = 'vær kritisk' %}
    {% assign color = 'grønne' %}
  {% when 'Green' %}
    {% assign text = 'et godt valg' %}
    {% assign color = 'grønne' %}
  {% else %}
    {% assign text = 'foreløpig usikker' %}
{% endcase %}

{% if include.summary %}
<span class="napp-ranking-summary text-muted">{{ text }}</span>
{% elsif color %}
<span class="napp-ranking">{{ species.title }} er på vår {{ color }} listen; {{ text }}.</span>
{% else %}
<span class="napp-ranking">{{ species.title }} er ikke på noen liste enda.</span>
{% endif %}




