<main id="napp-catalog" class="list-group">
  {% assign species_list = site.species | sort: 'title' %}
  {% for species in species_list %}
    <button data-url="{{ species.url }}" class="list-group-item ranking-{{ species.ranking | downcase }}">
      <p>
        <span class="napp-title">{{ species.title }}</span>
        {% include meta/ranking.html summary=true %}
      </p>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <article data-url="{{ species.url }}" class="list-group-item">

      <header>
        <h1>{{ species.title }}</h1>
        {% if species.latin %}
        <p><em class="text-muted">{{ species.latin }}</em></p>
        {% endif %}
      </header>

      <ul>
        <li>{% include meta/ranking.html %}</li>
        <li>{% include meta/climate.html %}</li>
      </ul>

      {% if species.alert and species.alert.content %}
      <p class="alert alert-{{ species.alert.type | default: info }}">{{ species.alert.content }}</p>
      {% endif %}

      {{ species.content | markdownify }}

      {% if species.slogan and species.slogan.content %}
      <blockquote>
        <p>{{ species.slogan.content }}</p>
         {% if species.slogan.attribution %}
        <footer><cite title="Source Title">{{ species.slogan.attribution }}</cite></footer>
        {% endif %}
      </blockquote>
      {% endif %}

      {% if species.labels.size > 0 %}
      <p>{% include meta/labels.html text=true %}</p>
      <p>{% include meta/labels.html images=true %}</p>
      {% endif %}

      {% if species.image and species.image.file %}
      <p class="napp-thumbnail">
        <img src="{{ species.image.file }}" alt="{{ species.title }}">
        {% if species.image.caption %}
          <br/><span class="napp-caption">{{ species.image.caption }}</span>
        {% endif %}
      </p>
      {% endif %}

    </article>
  {% endfor %}
</main>
