<main id="napp-catalog" class="list-group">
  {% assign species_list = site.species | sort: 'title' %}
  {% for species in species_list %}
    <button data-url="{{ species.url }}" class="list-group-item ranking-{{ species.ranking | downcase }}">
      <p>
        <span class="napp-title">{{ species.title }}</span>
        {% include meta/ranking.html summary=true %}
      </p>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <article data-url="{{ species.url }}" class="list-group-item">
      {% if species.latin %}
        <p><em class="text-muted">{{ species.latin }}</em></p>
      {% endif %}
      {% if species.alert %}
      <p class="alert alert-{{ species.alert.type | default: info }}">{{ species.alert.text }}</p>
      {% endif %}
      {{ species.content | markdownify }}
      <ul>
        <li>{% include meta/ranking.html %}</li>
        <li>{% include meta/climate.html %}</li>
      </ul>
      {% if species.labels.size > 0 %}
      <p>{% include meta/labels.html %}</p>
      {% endif %}

    </article>
  {% endfor %}
</main>
