<header id="napp-search">
  <form class="input-group input-group-lg" action="#" method="get">
    <span class="input-group-addon "><span class="glyphicon glyphicon-search"></span></span>
    <input class="form-control" autocomplete="off" spellcheck="false"
           placeholder="Søk..." type="text" id="q" />
    <button class="btn"><span class="glyphicon glyphicon-remove-circle"></span></button>
  </form>
</header>

<div id="napp-search-empty" class="list-group">
  <div class="list-group-item">
    Ingen treff for <strong class="napp-search-query"></strong>
  </div>
</div>

<section id="napp-search-results" class="list-group">
</section>
