<header id="napp-search">
  <div class="brand napp-search-clear"></div>
  <form action="#" method="get">
    <div class="input-group input-group-lg">
      <span class="input-group-addon napp-search-clear"><span class="glyphicon glyphicon-search"></span></span>
      <input class="form-control" autocomplete="off" spellcheck="false"
           placeholder="Søk..." type="text" id="q" />
      <button type="button" class="btn napp-search-clear"><span class="glyphicon glyphicon-remove-circle"></span></button>
    </div>
    <p class="help-block">{{ site.description }}</p>
  </form>
</header>

<div id="napp-search-empty" class="list-group">
  <div class="list-group-item">
    Ingen treff for <strong class="napp-search-query"></strong>
  </div>
</div>

<div id="napp-search-error" class="list-group">
  <div class="list-group-item">
    Søk etter <strong class="napp-search-query"></strong> feilet.
  </div>
</div>

<section id="napp-search-results" class="list-group">
</section>
