---
# Only the main Sass file needs front matter (the dashes are enough)
---

$napp-blue: #0F4076;
$napp-green: #006600;
$napp-orange: #CC6600;
$napp-red: #CC0000;

body {
  font-size: 16px;
  margin: 1em 0;

  header, main {
    margin: 2em 0;
  }
}

.container {
  max-width: 800px;
}

.content {
  padding-left: 65px;
}

.list-group .list-group-item {
  padding: 1.5em;
}

.napp-title {
  font-size: 160%;
}

.napp-ranking-summary {
  &:before {
    content: "— ";
  }
}

#napp-search {
  padding-left: 100px;
  margin-left: -35px;
  margin-right: 0.5em;
  position: relative;

  .napp-search-clear {
    cursor: pointer;
  }

  .brand {
    position: absolute;
    top: -14px;
    left: 0;
    height: 80px;
    width: 120px;
    background-position: 0 center;
    background-image: url(../icons/napp-icon_header.png);
    background-repeat: no-repeat;
    background-size: auto 80px;
  }

  .help-block {
    padding-left: 1em;
    padding-top: 1em;
  }

  .input-group {
    border-bottom: 2px solid $napp-blue;

    .glyphicon {
      top: 5px;
    }

    .input-group-addon {
      padding-right: 0;
    }

    .form-control,
    .input-group-addon,
    button {
      border: none;
      background: transparent;
      box-shadow: none !important;
      outline: none !important;
    }

    .btn {
      display: none;

      position: absolute;
      color: #555;
      height: 100%;
      right: 0;
      z-index: 9;
      background: transparent;

      &:hover {
        color: black;
      }
    }
  }
}

#napp-search-empty {
  display: none;
}

#napp-search-results.list-group,
#napp-catalog.list-group {

  .algolia__result-highlight {
    background: lighten($napp-blue, 65%);
    border-radius: 2px;
    padding: 2px 0;
  }
  
  .list-group-item {
    outline: none !important;
  }

  button.list-group-item {
    padding-top: 2em;
    background-image: url(../icons/napp-icon_gray.png);
    background-position: 12px 50%;
    background-repeat: no-repeat;
    background-size: 40px 56px;
    padding-left: 65px;
    
    p {
      margin: 0;
    }

    &.ranking-red {
      background-image: url(../icons/napp-icon_red.png);
    }
    
    &.ranking-orange {
      background-image: url(../icons/napp-icon_orange.png);
    }
    
    &.ranking-green {
      background-image: url(../icons/napp-icon_green.png);
    }
    
    .glyphicon {
      position: absolute;
      right: 1em;
      top: 50%;
      margin-top: -3px;
    }

    &:last-of-type:not(.open) {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &.open {
      .glyphicon:before {
        content: "\e114";
      }
    }
  }
  
  article.list-group-item {
    display: none;

    :last-child {
      margin-bottom: 0;
    }
  }
  
}
